header{
    font-family: 'Tilt Warp';
    border: 1px solid black;
    margin:200px;
    text-align: center;
    background-color: pink;
}
nav{
    text-decoration-color: white;
    text-align: center;
    border:5px solid black;
    margin-top: 0%;
    margin: 100px;
   background-color: whitesmoke;
}
nav ul{
    text-align: center;
}
nav li{
    list-style: none;
    display: inline-block;
    padding: 0 1%;
   
}
nav li a{
    text-decoration-line: none;
}
h2{
    text-align: center;
}
main{
    background-color:pink;
    font-family: 'Noto Serif', serif;
    text-align: justify;
    text-indent: auto;
    margin: 100px;
}
footer{
    margin-top: 0%;
    text-align: center;
    margin: 100px;
    border:5px solid black;
    background-color: whitesmoke;
}